<div class="main">
    <div class="blog">
        <div class="container">
            <div class="promo">
                <div class="wrap">
                    <img src="images/wrap1.jpg" class="img-circle" width="140px" height="140px">
                    <h2>Всегда онлайн</h2>
                    <p>Управляйте вашими лотами в режиме реального времени. Будьте в курсе дел, даже находясь в отпуске или командировке</p>
                </div>
                <div class="wrap">
                    <img src="images/wrap2.jpg" class="img-circle" width="140px" height="140px">
                    <h2>Качественная поддержка</h2>
                    <p>Поможем освоить интерфейс сервиса. По телефиону или электронной почте</p>
                </div>
                <div class="wrap">
                    <img src="images/wrap3.jpg" class="img-circle" width="140px" height="140px">
                    <h2>100% надежность</h2>
                    <p>Надёжный дата-центр, шифрование по протоколу SSL, резервное копирование в режиме реального времени.</p>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
