<div class="main">
    <div class="blog">
        <div class="container">
            <div id="slider-wrap">
                <div id="slider">
                    <div class="slide"><img src="img/001.jpg" width="700" height="500"></div>
                    <div class="slide"><img src="img/002.jpg" width="700" height="500"></div>
                    <div class="slide"><img src="img/003.jpg" width="700" height="500"></div>
                    <div class="slide"><img src="img/004.jpg" width="700" height="500"></div>
                </div>
            </div>
            <div class="promo">
                <div class="wrap">
                    <img src="img/wrap1.jpg" class="img-circle" width="140px" height="140px">
                    <h2>Всегда онлайн</h2>
                    <p>Управляйте учётом в режиме реального времени. Будьте в курсе дел, даже находясь в отпуске или командировке</p>
                </div>
                <div class="wrap">
                    <img src="img/wrap2.jpg" class="img-circle" width="140px" height="140px">
                    <h2>Качественная поддержка</h2>
                    <p>Поможем освоить программу и правильно построить учет в вашей компании. По телефону и электронной почте.</p>
                </div>
                <div class="wrap">
                    <img src="img/wrap3.jpg" class="img-circle" width="140px" height="140px">
                    <h2>100% надежность</h2>
                    <p>Надёжный дата-центр, шифрование по протоколу SSL, резервное копирование в режиме реального времени.</p>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
