<div class="about-main">
    <div class="container">
        <h3>SHORTLY ABOUT US</h3>
        <div class="main-about">
            <div class="col-md-4 main-img">
                <img src="images/ab.jpg" title="" />
            </div>
            <div class="col-md-8 main-text">
                <h4>dolore magna aliquam lectores legere me lius  placerat fac er consectetuer adipiscing elit placerat fac er consectetuer adipiscing.</h4>
                <p class="para1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummynib suspeuismod tincidunt ut laoreet dolore magna aliquam lectores legere me lius  placerat fac er consectetuer adipiscing elit, sed diam nonummynib suspepossim assum.olore magna aliquam lectores legere me lius  placerat fac er consectetuer adipiscing elit, sed diam nonummynib suspepossim assum Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem.</p><br>
                <p class="para1">consectetuer adipiscing elit, sed diam nonummynib suspe uismod tincidunt ut laoreet dolore magna aliquam lectores legere me lius Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. placerat fac er possim assum. Typi non habent claritatem insitam.usus legentis in iis qui facit eorum claritatem.</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="mission">
    <div class="container">
        <h3>Why choose us ? </h3>
        <div class="mission-grids">
            <div class="col-md-6 vission-gride1">
                <div class="col-md-2 vission-lef">
                    <div class="data-index">
                        <span>1.</span>
                    </div></div>
                <div class="col-md-10 visson-text ">
                    <h4>Nulla facilisii primis necenean nec</h4>
                    <p>Ut convallis, sem sit amet interdum consectetuer, odio augue aliquam leo  tincidunt quis, accumsan porttito euismod accuman blandit</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-6 vission-gride1">
                <div class="col-md-2 vission-lef">
                    <div class="data-index">
                        <span>3.</span>
                    </div></div>
                <div class="col-md-10 visson-text ">
                    <h4>Lorem ipsum dolor sit amet consectetur</h4>
                    <p>Ut convallis, sem sit amet interdum consectetuer, odio augue aliquam leo  tincidunt quis, accumsan porttito euismod accuman blandit</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-6 vission-gride1">
                <div class="col-md-2 vission-lef">
                    <div class="data-index">
                        <span>2.</span>
                    </div></div>
                <div class="col-md-10 visson-text ">
                    <h4>Lorem ipsum dolor sit amet consectetur</h4>
                    <p>Ut convallis, sem sit amet interdum consectetuer, odio augue aliquam leo  tincidunt quis, accumsan porttito euismod accuman blandit</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-6 vission-gride1">
                <div class="col-md-2 vission-lef">
                    <div class="data-index">
                        <span>4.</span>
                    </div></div>
                <div class="col-md-10 visson-text ">
                    <h4>Lorem ipsum dolor sit amet consectetur</h4>
                    <p>Ut convallis, sem sit amet interdum consectetuer, odio augue aliquam leo  tincidunt quis, accumsan porttito euismod accuman blandit</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
